@CHARSET "ISO-8859-1";
/*FUENTES*/

/*BOOTSTRAP FIXES*/

.container {
	width: 100%!important;
 	padding: 0px!important;
 	position: relative!important;
}

#mti_wfs_colophon
{
	z-index:5000;}


@media (min-width: 768px){
	.container {
		width: 1024px!important;
		margin: 0px!important;
	 	padding: 0px!important;
	}
	

.col-md-6.pull-right h1
{
	margin-top:0;}
	
.col-md-6.pull-left.text-right img
	{
		margin-right:0;
		margin-top:5px;
		padding-right:0;}
	

	
.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
	width: 1024px;
	height: 1024px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
}

.clr{
	clear: both;
}



/* GENERAL
================================================== */
body{
	background: #E3E3E3 !important; /*url(../images/bg-home3.png) no-repeat ;*/
	font-family:'Helvetica W01 Light', Arial, sans-serif;
	overflow-y: auto !important;
	text-shadow: none !important;
	/*-webkit-font-smoothing: subpixel-antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	-webkit-perspective: 1000;*/
}

a, a:hover, a:active, a:focus {
   outline: 0;
   color:#666;
   font-weight: bold;
}

/* CABECERA
================================================== */
#header{
	padding: 0px;
	background: #E3E3E3;
	position: relative;
	z-index: 20;
	height: 84px;
	border: 0px; position: fixed; width: 100%; top: 0px; left: 0px;
	z-index: 100000000;
}

#header .hidden-rgt{
	content: "";
	display: block;
	width: 600px;
	height: 768px;
	background: #E3E3E3;
	position: absolute;
	right: 0px;
	top: 84px;
	left: 1024px;	
}

#logo{
	padding: 0px;
	width: 180px;
	position: absolute;
	z-index: 1000;
}

#logo a{
  display: block;
}

.col-md-12 hr
	{
		color:#000;
		clear:both;
		width:100%;
		border-top:1px dotted #fff !important;
		height:1px;
		margin:1em 0 3em;}
		
form
	{
		margin:2em 0 5em;}
		
.col-lg-4.pull-left.mCS_img_loaded
{
	margin-left:0;
	padding-left:0;}
	
.post
	{
		border-bottom:1px solid #999;
		padding-bottom:20px;
		margin-bottom:30px;}
		
.post .col-lg-4.pull-left img
{
	padding-bottom:5px;}

.bd{
	margin-top: 84px;
	height: 648px;
	background: url(../images/bg-home2.jpg) no-repeat left top;
	position: relative;
	z-index: 10;
	clear: both;
	z-index: 10000000;
}

.bd-blog{
	margin-top: 84px!important;
	height: 648px;
	position: relative;
	clear: both;
	z-index: 10000000;
	background: white;
}

.bd .container,
.bd-blog .container{	
	overflow: hidden;
	position: relative;
	height: 100%;
}


.bd .row, .bd .col-md-12,
.bd-blog .row, .bd-blog .col-md-12{
	height: 100%;
}

.footer{	
	background: #E3E3E3 !important; /*rgba(0,0,0,0.5); */
	/*letter-spacing: 2.5px;*/	
 	color: #6d6e71;
 	text-shadow: none;
 	font-weight: 400;
 	border: none;
 	font-family:'Helvetica W01 Light', Arial, sans-serif;
}

#copy{
	/*background: rgba(0,0,0,0.5);*/
 	padding: 11px 20px;
 	font-size: 10px;
	font-style:normal;
}


#ebc{
	/*background: rgba(0,0,0,0.5);*/
 	padding: 7px 0px;
 	font-size: 14px;
 	font-family:'Helvetica W01 Light', Arial, sans-serif;
	font-style:normal;
}

blockquote {
	font-family:'Helvetica W01 Light Cn', 'Arial Narrow', sans-serif;
	border-left: 0px solid #eee!important;
}

blockquote p {
	font-family:'Helvetica W01 Light Cn', 'Arial Narrow', sans-serif;
	font-size:25px!important;
	line-height: 27px!important;
}

blockquote.small p {
	font-size: 15px!important;
	line-height: 20px!important;
	font-weight: bold;
	font-style: oblique;
}


blockquote cite {
	font-size: 13px;
	font-style: normal;
}

cite span {
	font-weight: bold;
	font-family: 'Helvetica W01 Bd Cn', 'Arial Narrow', sans-serif;
	
}

#parterships-coaching-facilitation blockquote,
#strategic-matchmaking blockquote {
  color: #58595b;
  letter-spacing: 0.6px;
  background: #fff;
  padding: 50px 50px 20px 20px;
  overflow-y: auto;
  position: absolute;
  top: 410px;
  left: 392px;
  bottom: -20px;
}

/* MENU PRINCIPAL
================================================== */
nav.main-nav{
	width: 844px;
	margin-left: 180px;
}
  
nav.main-nav ul{
	padding: 0px;
	margin: 0;
	float: left;
	padding-left: 13px;
	/*background: rgba(0,0,0,0.2);/*#E3E3E3*/
}
nav.main-nav ul li{
	float: left;
	position: relative;
	text-align: left;
	padding: 0px;
	list-style: none;
	font-family:'Helvetica W01 Light Cn', 'Arial Narrow', sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

nav.main-nav ul li div{
	padding: 24px 15px 46px;
}


nav.main-nav ul li.clast div{
	padding-left: 17px;
}



nav.main-nav ul li a,
nav.main-nav ul li a:hover, 
nav.main-nav ul li a:link,
nav.main-nav ul li a:visited{
	display: block;
	font-size: 14px;
	text-decoration: none;
	color: #6e6e6e; /*#6e6e6e;*/
	font-weight: 400;
	letter-spacing: 1px; /*1.5  3.5px;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav.main-nav ul li a:hover, nav.main-nav ul li.active a, nav.main-nav ul li a.active{
	color: #58595b;
	font-weight: bold;
}

nav.main-nav ul li ul {
	display: none;
	position: absolute;
	min-width: 200px;
	padding: 10px 0px;
	text-align: left;
	z-index:2;
	top: 84px;
	margin-left: -24px;
  	padding: 6px 0px 0px 38px;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}


nav.main-nav ul li:hover ul, nav.main-nav ul li.active ul {
	display: block;
	z-index: 2000;
}

nav.main-nav ul li ul li{
	display: block;
	border-right: solid 0px;
	padding: 0px 0px 0px 5px;
	float: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav.main-nav ul li ul li.last, 
nav.main-nav ul li.active ul li.last, 
nav.main-nav ul li.active ul li a,
nav.main-nav ul li.active ul li a:visited{
	border-bottom: solid 0px #fff;
	color: #fff;
}

nav.main-nav ul li ul li a,
nav.main-nav ul li ul li a:visited,
nav.main-nav ul li ul li a:link{
	font-size: 11px;
  color: #fff;
  font-weight: 400;
  padding: 4px 0px;
  text-shadow: none;
  letter-spacing: 1px;
}

nav.main-nav ul li ul li a:hover, 
nav.main-nav ul li ul li.active a, 
nav.main-nav ul li ul li a.active {
	color: #fff;
	text-decoration: underline;
	border-bottom: none;
	text-shadow: none;
}

.framework-2l nav.main-nav ul li ul li a,
.framework-2l nav.main-nav ul li ul li a:visited,
.framework-2l nav.main-nav ul li ul li a:link{
	font-size: 11px;
	color: #58595b;/*b9babc */
	font-weight: 400;
	padding: 4px 0px;
	text-shadow: none;
	letter-spacing: 1px;
}

.framework-2l nav.main-nav ul li ul li a:hover, 
.framework-2l nav.main-nav ul li ul li.active a, 
.framework-2l nav.main-nav ul li ul li a.active {
	color: #58595b;
	text-decoration: underline;
	border-bottom: none;
	text-shadow: none;
}

.neutro2 nav.main-nav ul li ul li a,
.neutro2 nav.main-nav ul li ul li a:visited,
.neutro2 nav.main-nav ul li ul li a:link{
	font-size: 11px;
	color: #58595b;/*b9babc */
	font-weight: 400;
	padding: 4px 0px;
	text-shadow: none;
	letter-spacing: 1px;
}

.neutro2 nav.main-nav ul li ul li a:hover, 
.neutro2 nav.main-nav ul li ul li.active a, 
.neutro2 nav.main-nav ul li ul li a.active {
	color: #58595b;
	text-decoration: underline;
	border-bottom: none;
	text-shadow: none;
}

.bs-callout ul li
{
	font-size:14px;}

/* MASCARAS
================================================== */
.mask{
	background: #fff;
	position: absolute;	
	display: block;
	width: 80px;
	height: 80px;	
}

.mask.m1{
	top: 159px;
  	left: 255px;	
}

.mask.m2{
	top: 159px;
  	left: 335px;
 }

.mask.m3{	
  	top: 0px;
  	left: 255px; /*335px;*/
  	width: 160px;
	height: 159px;
}

.mask.m4{	
  	top: 0px;
  	left: 0px;
  	width: 255px;
	height: 239px;
}

.mask.m5{	
  	top: 239px;
  	left: 0px;
  	width: 415px;
	height: 409px;
}

.mask.m6{	
  	top: 0px;
  	left: 415px;
  	width: 624px;
  	height: 648px;
}




/* SLIDESHOW PAGINA PRINCIPAL
================================================== */
.slideshow-inner{
	color: #fff;
	font-size: 1.8em;	/*38px;*/	
	line-height: 30px; /*35px;*/
	text-transform: uppercase;
	font-weight: 100;
	width: 287px;
	background: rgba(0,0,0,0.5);
/* 	height: 647px; */
	margin-left: 1024px; /*689px;*/
	letter-spacing: 0px;/*2.5*/
	font-family:'Helvetica W01 Light Cn', 'Arial Narrow', sans-serif;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

.slideshow-inner strong{
	font-family:'Helvetica W01 Bd Cn', 'Arial Narrow', sans-serif;
	font-weight: 400;
}

.slideshow-inner .cita{
	padding: 3px 15px 0;
	/*height: 120px;*/
}

.slideshow-inner .pre-cita{
	padding: 140px 15px 0;
}

.carousel-inner{
	min-height: 100px;
}

.carousel-indicators{
	bottom: -30px;
  	left: 52px;
}


.carousel-indicators li {
	width: 9px;
	height: 9px;
	background: rgba(255,255,255,0.3);
	border-radius: 6px;
	margin: 0px;
	margin-right: -4px;
	border: none;
}

.carousel-indicators .active {
	background:  rgba(255,255,255,0.8);
	width: 9px;
  	height: 9px;
  	margin: 0px;
  	margin-right: -4px;
}

.prev-page, .next-page {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 150ms;
}

@media (max-width: 768px){
	.row {
		margin-right: 0px;
		margin-left: 0px;
	}

	.mask {
		display: none!important;
	}

	.bd {
		background-position-x: -114px;
		background-size: cover;
		min-height: 0px;
	}

	.content .inner p.short, .content .inner ul.short, .content .inner h1.short {
		margin-right: 0px!important;
	}

	.content p,
	.content ul {
		font-size: 15px!important;
	}

	h1.multicolum {
		padding: 0px 13px!important;
	}

	.colOverview {
		padding: 0px 0px!important;
	}
	
	.slideshow-inner{
		margin: auto !important;
		width: 180px;
		font-size: 22px;
		line-height: 26px;
	}

	.circle-content {
		font-size: 11px;
		line-height:13px;
	}

	.circle.c3 {
		  left: 48%;
		  width: 27%;
	}

	.circle-tooltip {
		bottom: -55%!important;
		z-index: 1001!important;
	}

	.circle-tooltip p {
		font-size:11px!important;
		line-height: 14px!important;
		padding: 10px 15px 0px 15px!important;
	}

	.circle-tooltip.tool_5 {
	  left: -15px!important;
	}

	.circle-tooltip.tool_2 {
	  top: -45px!important;
	}

	.circle-tooltip.tool_2 {
	  left: -35px!important;
	  top: -45px!important;
	}

	.circle-tooltip.tool_1 {
  		left: -30px!important;
	}

	.circle.c3 {
		z-index: 20!important;
	}

	.circle.c2, .circle.c4 {
		z-index: 15!important;
	}

	.circle.c1, .circle.c5 {
		z-index: 10!important;
	}

	#logo {
		left: 50%;
		margin-left: -90px;
	}
	
	#ebc {
		padding: 10px 0px;
		font-size: 12px;
	}
	
	.slideshow-inner .precita {
		padding: 140px 10px 0;
	}
	
	.slideshow-inner .cita {
		padding: 10px 10px 0;
	}
	
		
	.icon-menu{
		position: absolute;
		top: 12.5px;
		right: 45px;
		width: 60px;
		height: 60px;
		cursor: pointer;
		background: url(../images/icon-menu.jpg);
		z-index: 160;
	}
	
	#header-prel{
		position: relative !important;
	}
	
	nav.main-nav ul {
  		width: 100%;
		right: 0px;
  		float: none;
  		background: #120C0C;
  		position: absolute;  		
	}
		
	nav.main-nav ul.l1 {
  		opacity: 0;
  		top: 84px;
  		display: none;
  		padding: 10px;
	}
	
	nav.main-nav ul li {
  		display: block;
  		padding: 0px 15px;
  		float: none;
	}
	
	nav.main-nav ul li div{
  		padding: 0px;
	}
	
	nav.main-nav ul li.clast{
		padding-left: 0px;
	}
	
	nav.main-nav ul li ul li:nth-child(2n) {
  		display: block;
	}	
	
	
	nav.main-nav ul li a, nav.main-nav ul li a:hover,
	nav.main-nav ul li a:visited, nav.main-nav ul li a.active {
		color: #FFF !important;
		border-bottom: none;
	}
	
	nav.main-nav ul li a:hover, nav.main-nav ul li a.active {
		text-decoration: underline;
	}
		
	nav.main-nav ul li ul {
		display: block;
		position: relative;
		top: 0;
		left: 0;
		margin: 0;
		width: auto;
		padding: 0px;
		background: none;
	}

	nav.main-nav ul li a {
		padding: 15px 0px;
	}

	nav.main-nav ul li {
		display: block;
	}
	
	nav.main-nav ul li ul li a {
		padding: 15px 10px;
	}
	
	.carousel-indicators {
  		left: 58px;
	}
	
	.carousel-indicators li {
		border-radius: 0px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
  		margin-right: 4px;
		width: 7px;
  		height: 7px;
	}
	
	.carousel-indicators .active {
		width: 7px;
  		height: 7px;
  		margin-right: 4px;
	}
}




/* WHY US
================================================== */

#about-us .bd{	
	background: url(../images/bg-about-us2.jpg) no-repeat left top;
}

#about-us1 .bd{	
	background: url(../images/bg-about-us2.jpg) no-repeat left top;
}


.slideshow-inner.sttc{
	margin-left: 688px;
	display: table;
	height: 100%;
}

.slideshow-inner.sttc .cita {
	display: table-row;
	height: 1px;
}

.slideshow-inner.sttc .cita-inner {
	display: table-cell;
}

.slideshow-inner.sttc strong{
	/*letter-spacing: 1px;*/
}

.slideshow-inner.sttc .cita-inner {
  padding: 140px 0px 0px 15px;
}

.slideshow-inner.sttc .desc{
	height: auto;
	display: table-row;
}

.slideshow-inner.sttc .desc-inner{
	display: table-cell;		
	position: relative;
}

.slideshow-inner.sttc .desc-content{
	position: absolute;
	top: 0px;
	bottom: 5px;	
	left: 15px;
	right: 5px; 
	overflow-y: auto;
}

.slideshow-inner.sttc .desc-content::-webkit-scrollbar {
    width: 8px;
}
 
 
.slideshow-inner.sttc .desc-content::-webkit-scrollbar-track {
	background: transparent;	
    cursor: pointer;
}

.slideshow-inner.sttc .desc-content::-webkit-scrollbar-thumb:vertical {
	background: rgba(255,255,255,.5);
	border-radius: 10px;  			
}

.slideshow-inner.sttc p{
	font-size: 0.42em;
  	line-height: 16px;
  	text-transform: none;
  	font-family: 'Helvetica W01 Light', Arial, sans-serif;
  	margin-top: 0px;
  	padding-right: 15px;
  	letter-spacing: 0px;
}

.slideshow-inner.sttc p:nth-of-type(1){
	margin-top: 19px;
}

.bbb{
	position: absolute;
  	right: 10px;
  	top: 129px;
}

/* ABOUT US: MY MISSION
================================================== */

.content .inner{
	overflow:hidden;
	overflow-y: auto;
	margin-right: 10px;
	height: 100%;
	padding-right: 10px;
}

.content .inner p.short, .content .inner ul.short, .content .inner h1.short
{
	margin-right:94px;
	
	}
	
.content .inner p.large, .content .inner ul.large, .content .inner h5.large, .content .inner h1.large
{
	margin-right:5px;
	
	}

h1.blog
{
	margin-left:0 important!; }
	
.content .inner::-webkit-scrollbar {
    width: 5px;
	
    
} 
 
.content .inner::-webkit-scrollbar-track {
	background: rgba(0,0,0,0);
	border-radius: 10px;	
    cursor: pointer;    
    margin: 10px 100px 0px 0px;
}

.content .inner::-webkit-scrollbar-thumb:vertical {
	background: rgba(0,0,0,0.25);
	border-radius: 10px;
	margin-right: 10px;
  			
}

.about-us-2l .bd
{	
	background: #E3E3E3 url(../images/bg-about-us2.jpg) no-repeat left top;
}

.neutro2 .bd {
	background: #fff;
}

.about-us-2l.neutro.our-approach .bd {
	background: #E3E3E3 url(../images/bg-framework2.jpg) no-repeat left top
}

.about-us-2l.neutro .bd,
.framework-2l.neutro .bd{	
	background: #E3E3E3 url(../images/bg_neutro.png) no-repeat left top;
}
.under.neutro_under .bd{	
	background: #E3E3E3 url(../images/bg_under.jpg) no-repeat left top;
}
.about-us-2l.trainingbg .bd{	
	background: #E3E3E3 url(../images/bg-training2.jpg) no-repeat left top;
}

.about-us-2l.frameworkbg .bd{	
	background: #E3E3E3 url(../images/bg-framework2.jpg) no-repeat left top;
}

.about-us-2l.contactbg .bd{	
	background: #E3E3E3 url(../images/bg-home2.jpg) no-repeat left top;
}

.about-us-2l .content {
	color: #58595b;
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 0.06em;
	background: #fff;	
	padding: 10px 20px 20px 0px;
	overflow-y: auto;
	position: absolute;
	top: 120px;
	left: 492px;
	bottom: 0px;
}

.experience .content {
	left: 42px!important;
	background: none!important;
}

.experience .content h3 {
	margin-top: 5px;
}

.our-approach .content {
	color: #58595b;
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 0.06em;
	background: #fff;	
	padding: 10px 20px 20px -1px;
	overflow-y: none;
	position: absolute;
	top: 120px;
	left: 492px;
	bottom: 0px;
}

.under .content {
	color: #58595b;
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 0.06em;
	background: none;	
	padding: 10px 20px 20px 20px;
	overflow-y: auto;
	position: absolute;
	top: 120px;
	left: 492px;
	bottom: 0px;
}

.framework-2l .bd .content{
	color: #58595b;
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 0.6px;
	background: #fff;	
	padding: 10px 20px 20px 20px;
	overflow-y: auto;
	position: absolute;
	top: 120px;
	left: 10px;
	bottom: 0px;
}
 
.about-us-2l .bd .container:before{
	width: 382px;
  	height: 120px;
  	top: 0px;
  	right: 0px;
  	display: block;
  	position: absolute;
  	content: " ";
  	background: #fff;
}

.under .bd .container:before{
	width: 382px;
  	height: 120px;
  	top: 0px;
  	right: 0px;
  	display: block;
  	position: absolute;
  	content: " ";
  	background:none;
}

.framework-2l .bd .container:before{
	width: 100%;
  	height: 120px;
  	top: 0px;
  	right: 0px;
  	display: block;
  	position: absolute;
  	content: " ";
  	background: #fff;
}

.multicolumna2columnas{
  -moz-column-count: 2;
   -moz-column-gap: 3em;
   -moz-column-rule: 1px solid #fff;
   -webkit-column-count: 2;
   -webkit-column-gap: 3em;
   -webkit-column-rule: 1px solid #fff;
   padding:0 66px;
  
}






legend{
	font-size: 16px;
	line-height: 21px;
	margin: 10px 0 10px;
	border-bottom:none;
	color:#7d7d7d;
}

.content p, .content ul
	{
		  margin-bottom: 10px;
  font-size: 13px;
  line-height: 19px;
  color: #6d6e71;
  letter-spacing: 1px;}
		
.content h1 {
	
	
	
	  font-size: 30px;
  line-height: 28px;
    letter-spacing: 0px;
   font-family:'Helvetica W01 Light Cn', 'Arial Narrow', sans-serif;
	color:#6d6e71;
	
}


.content h2{
	font-size: 22px;
	line-height:25px;
	margin: 15px 0 10px;
	 font-family:'Helvetica W01 Light Cn', 'Arial Narrow', sans-serif;
	color:#7d7d7d;
}
.content h3{
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 5px;
	color:#7d7d7d;
}
.content h4{
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 15px;
	color:#7d7d7d;
}

.multicolumna2columnas h1

{
	
	padding-top:0;
	margin-top:0;
}

.inner h1.multicolum 
{
	padding-left:64px;}
	

.multicolum
{
	padding-left:64px;}
	


.about-us-2l .mask, .framework-2l .mask{
	display: none;
	width: 12px;
  	height: 12px;	
  	top: inherit;
}

.about-us-2l .mask.m1, .framework-2l .mask.m1{
  	bottom: 0px;
  	left: 0px;  	
}

.about-us-2l .mask.m2, .framework-2l .mask.m2{
  	bottom: 12px;
  	left: 12px;
}

.about-us-2l .mask.m3, .framework-2l .mask.m3{
	width: 24px;
  	height: 24px;
  	bottom: 24px;
  	left: 24px;
}

.about-us-2l .mask.m4, .framework-2l .mask.m4{
	width: 36px;
  	height: 36px;
  	bottom: 12px;
  	left: 48px;
}

.about-us-2l .mask.m5, .framework-2l .mask.m5{
	width: 60px;
  	height: 60px;
  	bottom: 48px;
  	left: 84px;
}

.about-us-2l .mask.m6, .framework-2l .mask.m6{
	width: 96px;
  	height: 96px;
  	bottom: 108px;
  	left: 144px;
}

.about-us-2l .mask.m7, .framework-2l .mask.m7 {
	width: 156px;
  	height: 156px;
  	bottom: 48px;
  	left: 240px;
}
.about-us-2l .mask.m8 , .framework-2l .mask.m8{
	width: 156px;
  	height: 252px;
  	bottom: 48px;
  	left: 396px;
}

.about-us-2l .mask.m9 , .framework-2l .mask.m9{
	width: 156px;
  	height: 252px;
  	bottom: 48px;
  	left: 396px;
}

.bs-callout-warning {
  border-left-color: #000;
  background-color:#000;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-warning h4, .bs-callout-warning ul{
  color: #fff;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.neutro2 li {
	font-size: 13px!important;
}


.neutro2 ul {
	margin-bottom: 0px!important;
}

@media (max-width: 768px){	
	.about-us-2l .content{
		width: 90%;
		background: rgba(255,255,255,0.9);
		margin: auto;
		left: 5%;
		padding-top: 110px;
		top: 0px;
	}
	
	.about-us-2l .bd .container:before{
		display: none;
	}
	
	.slideshow{
		width: 180px;
		margin: auto;
	}
	
	.slideshow-inner .pre-cita {
		padding: 140px 10px 0;
	}
	
	.slideshow-inner .cita {
		padding: 0px 10px 0;
	}
	
	.slideshow .cita-content{	
	 	word-wrap: break-word;
  		width: 155px;
	}
	


}



/* FRAMEWORK
================================================== */

#framework .bd{	
	background: #E3E3E3 url(../images/bg-framework2.jpg) no-repeat left top;
}

.colOverview {
	padding: 0 66px;
}

/* SERVICES
================================================== */

#services .bd{	
	background: #E3E3E3 url(../images/bg-services2.jpg) no-repeat left top;
}

/* SERVICES: STRATEGIC MARKETING
================================================== */
.services-2l .bd{	
	background: #E3E3E3 url(../images/bg-services2.jpg) no-repeat left top;
}
/*
.services-2l .main-nav ul.l1 li.active ul{	
	background: #FFF;;
}

.services-2l nav.main-nav ul li.active li a,
.services-2l nav.main-nav ul li.active li a:visited,
.services-2l nav.main-nav ul li.active li a:link
.services-2l nav.main-nav ul li.active li a:hover{	
	color: #808285;
}
*/

.services-2l .content{
	color: #58595b;
	
	letter-spacing: 0.6px;
	background: #fff;
	padding: 10px 20px 20px 20px;
	overflow-y: auto;
	position: absolute;
	top: 120px;
	left: 492px;
	bottom: 0px;
}

.services-2l .bd .container:before{
	width: 382px;
  	height: 120px;
  	top: 0px;
  	right: 0px;
  	display: block;
  	position: absolute;
  	content: " ";
  	background: #fff;
}
 


.services-2l .content ul{
	padding-left: 20px;
	  list-style-type: disc;
}

.services-2l .content ul li {
	position: relative;
}




.services-2l .mask{
	display: none;
	width: 12px;
  	height: 12px;	
  	top: inherit;
}

.services-2l .mask.m1{
  	bottom: 0px;
  	left: 0px;  	
}

.services-2l .mask.m2{
  	bottom: 12px;
  	left: 12px;
}

.services-2l .mask.m3{
	width: 24px;
  	height: 24px;
  	bottom: 0px;
  	left: 24px;
}

.services-2l .mask.m4{
	width: 36px;
  	height: 36px;
  	bottom: 24px;
  	left: 48px;
}

.services-2l .mask.m5{
	width: 60px;
  	height: 60px;
  	bottom: 60px;
  	left: 24px;
}

.services-2l .mask.m6{
	width: 96px;
  	height: 96px;
  	bottom: 24px;
  	left: 84px;
}


@media (max-width: 768px){	
	
	.services-2l .content{
		width: 90%;
		background: rgba(255,255,255,0.9);
		margin: auto;
		left: 5%;
		padding-top: 110px;
		top: 0px;
	}
	
	.services-2l .bd .container:before{
		display: none;
	}	
}

/* TRAINING
================================================== */

#training .bd{	
	background: #E3E3E3 url(../images/bg-training2.jpg) no-repeat left top;
}




.next-page, .prev-page{
	position: absolute;
	top: 50%;
	width: 44px;
	z-index: 100;
	margin-top: -25px;
}

.prev-page{
	left: 5px;
}

.next-page{
	right: -5px;
}

.next-page a, .prev-page a{
	content: "";
	background: url(../images/arrow.png) center no-repeat;
	display: block; 
	height: 50px;
}

.prev-page a{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}


#home .prev-page, #home .next-page{
	display: none;
}



/* JQUERY MOBILE FIXES
================================================== */

.in, .out, .in-reverse {
	-webkit-animation-timing-function: ease-out !important;
	-webkit-animation-duration: 550ms !important;
	-moz-animation-timing-function: ease-out !important;
	-moz-animation-duration: 550ms !important;
	animation-timing-function: ease-out !important;
	animation-duration: 550ms !important;
}
.ui-mobile .ui-page {
	padding-top: 0px !important;
	background: #E3E3E3 !important;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	background: #E3E3E3 !important;
}

.ui-page-header-fixed, .ui-page-active{
	padding-top: 0px !important;	
}

.ui-content{
	overflow: hidden;
	padding: 0px;
}

.ui-page {
  -webkit-backface-visibility: hidden;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper, .ui-page-theme-a .ui-bar-inherit {
	text-shadow: none;
	font-weight: inherit;
}

.ui-header-fixed {
	display: block;
}

.reverse .ui-header-fixed,
.out .ui-header-fixed {
	display: none
}

.slide.in .bd{
	margin-top: 85px;
}

/* FRAMEWORK: OUR FRAMEWORK 
================================================== */

.col-md-12.corto
{
	height:auto;}

.a5territories{
	position: relative;
	text-align: center;
	margin: 75px auto;
	width: 70%;
}

.a5territories img{
	margin-bottom: 100px;
	width: 71%;
  	margin-left: -2%;
}
.a5territories h2 {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	font-weight: 400;
	color: #4D738A;
	font-family: 'Helvetica W01 Bd Cn', 'Arial Narrow', sans-serif;
	font-size: 19px;
}

h2.a5territories{
	
	text-align: center;
	width: 100%;
	font-weight: 400;
	color: #4D738A;
	font-family: 'Helvetica W01 Bd Cn', 'Arial Narrow', sans-serif;
	font-size: 19px;
	text-transform:uppercase;
}

.circle{
	/*border: 6px solid #C1B55E;*/
	background: #C1B55E url(../images/5territories1.png) center; /*#4D738A*/
	background-size: cover;
	color: #fff;
	width: 17%;
	border-radius: 60px;
	height: 115px;
	display: table;	
	position: absolute;
	top: 54px;
	left: 0%;
	z-index:100;
}

.circle-inner{
	display: table-cell;
  	vertical-align: middle;
  	text-align: center;
  	font-family: 'Helvetica W01 Light Cn', 'Arial Narrow', sans-serif;
	font-size:17px;
	line-height:18px;
}

.circle-tooltip{
	display: none;
	border: 5px solid #C1B55E;
	border-radius: 10px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	z-index:300;
	
	position: absolute;
	color: #4d738a;
	width: 200%;
 	text-align: left;
 	bottom: 85%;
 	font-size: 15px;
 	line-height: 19px;
	-webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
}

.circle-tooltip.tool_1
	{
		left:-105px;}
		
.circle-tooltip.tool_2
	{
		left:-100px;}

.circle-tooltip.tool_3
	{
		left:-35px;}
		
.circle-tooltip.tool_4
	{
		left:-18px;
		}
		
.circle-tooltip.tool_5
	{
		left:12px;}



.circle.c5 .circle-tooltip{
	right: 0px;
}

.circle-tooltip p{
  padding: 10px 15px 5px 15px;
 
}

.circle:hover .circle-tooltip{
	display: block;
}

.circle.c2, .circle.c4{
	width: 18%;
	height: 133px;
	border-radius: 70px;
	top: -4px;
	left: 27%;
	margin-left: -9%;
	background-image: url(../images/5territories2.png);
	z-index: 80;
}

.circle.c4{
	left: inherit;
	right: 27%;
	margin-right: -9%;
	background-image: url(../images/5territories4.png);
	z-index: 20;
}

.circle.c3{
	top: -42px;
	left: 50%;
	width: 23%;
	margin-left: -11.5%;
	height: 155px;
	border-radius: 80px;
	background-image: url(../images/5territories3.png);
	z-index: 40;
}

.circle.c5{
	left: inherit;
	right: 0%;
	background-image: url(../images/5territories5.png);
	z-index: 40;
}

@media (max-width: 768px){	
	.a5territories{
		width: 90%;
	}
	.circle {
		font-size: 10px;
		top: 32px;
	}
	
	.circle.c3 {
  		top: -15%;
	}
}

div#bannerwrap,
#mti_wfs_colophon {
   display: none!important;
}

